@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #262a2b;
    color: #fff;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.card{ /* 726 : 500 */
    aspect-ratio: 1/1;
    object-fit: contain;
    height: 200px;
    width: 135px;
    margin: 0 2rem 0 0;
    cursor: context-menu;
}
img.card:last-child{
    margin: 0;
}
.cards{
    height: 200px;
    margin: .5rem 0;
}
h2{
    margin-top: .5rem;
}

button{
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 60px;
    margin: .5rem;
    color: #fff;
    background: #6b6b6b;
    cursor: pointer;
}